/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before,
blockquote:after,
q:before,
q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

html, body {
    font-family: "Helvetica Neue", Helvetica;
    
    background-color: rgba(24,56,16,1);
    
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(185,255,185,0.2)), to(rgba(0,0,0,0.1)));
    
    background-image: -webkit-linear-gradient(top left, rgba(185,255,185,0.2), rgba(0,0,0,0.1));
    
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(185,255,185,0.15)), to(rgba(0,0,0,0.1)));
    
    background-image: -webkit-linear-gradient(top left, rgba(185,255,185,0.15), rgba(0,0,0,0.1));
    
    background-image: linear-gradient(to bottom right,
        rgba(185,255,185,0.15), rgba(0,0,0,0.1));
    
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    -webkit-transition: background-color 0.15s linear 0s;
    transition: background-color 0.15s linear 0s;
}

#background-noise {
    position: fixed;
    display: block;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    background-image: url(noise.png);
    background-attachment: fixed;
    z-index: 0;
    opacity: 0.3;
}
#page {
    z-index: 5;
    position: relative;
}

body.down { 
    background-color: rgba(65,14,6,1); 
}

h1 {
    font-size: 3.0em;
}
header h1 {
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 0.1em;
    color: white;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.15);
}
header h1 strong {
    text-transform: uppercase;
    letter-spacing: normal;
    font-weight: 400;
}
ul#connections li {
    float: left;
    padding: 5px;
    cursor: pointer;
    
    -webkit-box-sizing: border-box;
    
    -moz-box-sizing: border-box;
    
    box-sizing: border-box;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
ul#connections li article {
    padding: 20px 10px;
    background-color: rgba(255,255,255,0.4);
    border-radius: 4px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;

    font-size: 1.3em;
    font-weight: 300;
    text-align: center;
}
ul#connections li:active article {
    background-color: rgba(255,255,255,0.8);;
    -webkit-transition-duration: 0.07s;
    transition-duration: 0.07s;

    -webkit-transition-property: background-color;
    
    transition-property: background-color;
}
ul#connections li.down article {
    opacity: 0.1;
}

a {
    color: white;
    color: rgba(255,255,255,0.9);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.1em;
}
a.button {
    border-radius: 4px;
/*    border: 1px solid rgba(255,255,255,0.2);
    border-bottom-color: rgba(132,132,132,0.2);
    border-right-color: rgba(132,132,132,0.2);*/
    background-color: rgba(255,255,255,0.15); 
    padding: 7px 10px;
    display: inline-block;
    text-shadow: 1px 1px rgba(30,30,30,0.5);
    color: rgba(255,255,255,0.8);
}
a.button:hover {
    background-color: rgba(255,255,255,0.25);
}
a.button:active {
    background-color: rgba(255,255,255,0.5);
    position: relative;
    top: 1px;
}
header .buttons {
    float: right;
    margin-top: 10px;
}
header .buttons .button:first-child {
    margin-right: 10px;
}

header #statistics {
    width: 100%;
    margin: 10px 0;
    overflow: hidden;
}
header #statistics article {
    overflow: hidden;
    float: left;
    position: relative;
}
header #statistics article section.value {
    text-align: right;
    color: white;
    font-size: 1.5em;
    border-bottom: 1px solid rgba(255,255,255,0.4);
    position: absolute;
    width: 90%;
    bottom: 0;
    padding: 0 5% 10px 5%;
}
header #statistics article .caption {
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 0.1em;
    opacity: 0.6;
    float: left;
}
header #statistics article section.graph {
    display: block;
    height: 100px;
}
header #statistics article section.graph div {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-left: 1px solid transparent;
    width: 8.3%;
}
header #statistics article section.graph div span {
    display: block;
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,0.05);
    
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.07)), to(rgba(0,0,0,0)));
    
    background-image: -webkit-linear-gradient(rgba(255,255,255,0.07), rgba(0,0,0,0));
    
    background-image: linear-gradient(rgba(255,255,255,0.07), rgba(0,0,0,0));
}
.units {
    font-size: 0.8em;
    opacity: 0.8;
}

@-webkit-keyframes update {
    0% { background-color: rgba(255,255,255,0.4); }
    5% { background-color: rgba(255,255,255,0.7); }
    50% { background-color: rgba(255,255,255,0.7); }
    55% { background-color: rgba(255,255,255,0.4); }
    100% { background-color: rgba(255,255,255,0.4); }
}

@keyframes update {
    0% { background-color: rgba(255,255,255,0.4); }
    5% { background-color: rgba(255,255,255,0.7); }
    50% { background-color: rgba(255,255,255,0.5); }
    55% { background-color: rgba(255,255,255,0.4); }
    100% { background-color: rgba(255,255,255,0.4); }
}
.received:not(.down) article {
    -webkit-animation: update 0.5s linear 0s 1 normal;
    animation: update 0.5s linear 0s 1 normal;
}

@media screen and (min-width: 960px) { 
    section#page {
        width: 100%;
        margin: 0px auto;
        height: 100%;
    }
    header {
        margin: 0 auto 30px;
        width: 90%;
    }
    body {
        padding-top: 102px;
    }
    #statistics article {
        width: 23.5%;
        margin-right: 2%;
    }
    #statistics article:last-child {
        margin-right: 0%;
    }
    #statistics article .caption {
        float: left;
    }
    ul#connections {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 50px;
        overflow: hidden;
    }
    ul#connections li {
        width: 10%;
    }
}
@media screen and (max-width: 960px) {
    section#page {
        width: 100%;
    }
    header h1 {
        font-size: 2.0em;
    }
    header {
        width: 90%;
        margin: 42px auto 30px;
    }
    #statistics article {
        width: 48%;
        margin: 10px 1%;
    }
    ul#connections {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 20px;
        overflow: hidden;
    }
    ul#connections li {
        width: 25%;
    }
    header .buttons {
        margin-top: 0;
    }
}
@media screen and (max-width: 480px) {
    ul#connections li {
        width: 33.3%;
    }
    #statistics {
        font-size: 0.8em;
    }
    #statistics article {
        width: 100%;
        margin: 5px 0;
    }
    header .buttons {
        width: auto;
        margin: 25px auto;
        float: none;
    }
    ul#connections li article {
        -webkit-transition-duration: 0s;
        transition-duration: 0s;
    }
    ul#connections li:active article {
        -webkit-transition-duration: 0s;
        transition-duration: 0s;
    }
}